body {
	background-color: black;
	color: white;
}

.background {
	opacity: 0.3;
	background: url("./route_1920x1080_light.jpg");
	background-repeat: no-repeat;
	background-position: 50% 0%;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: -1;
}

.screen {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100%;
	position: fixed;
	width: 100%;
	left: 0px;
	top: 0px;
	text-align: center;
}

a {
	color: white;
}